name: Generate Pac-Man Game

on:
  push:
    branches:
      - main
      - master
  
  schedule:
    - cron: "0 0 * * *"
  
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: Create dist directory
        run: mkdir -p dist

      - name: Generate Light Mode
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}
          background_color: '#ffffff' 

      - name: Rename Light Image
        run: mv pacman-contribution-graph.svg dist/pacman-light.svg

      - name: Generate Dark Mode
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}
          background_color: '#0d1117'

      - name: Rename Dark Image
        run: mv pacman-contribution-graph.svg dist/pacman-dark.svg

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}